.DS_Store
node_modules
.netlify
build/
.parcel-cache
.idea/
*/.idea/
.docker
.env
.next
storybook-static
_
.env.local
yarn-error.log
dist/
.yarn
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
