.DS_Store
node_modules

# Local Netlify folder
.netlify

.idea/
*/.idea/
.docker
.env
.next
storybook-static
_
.env.local
kebab/lib
yarn-error.log

dist
.yarn
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
