export GITHUB_CLIENT_ID=nyahnyahnyah
export GITHUB_CLIENT_SECRET=foobarbaz

export BEN_GITHUB_ID=nopenope
export ACCESS_TOKEN_SECRET=oneuthateuhathoeuthuaonehntoauhaeuheae
export REFRESH_TOKEN_SECRET=zzaneuthaonueheaouhnaoehunstasenuthanu

export TWITTER_API_KEY=ntauhnaehuntaeeuntehnatu
export TWITTER_SECRET_KEY=taeounaheunaoehutaheueteee
export TWITTER_BEARER_TOKEN=naoeuhetuhnau

export DISCORD_CLIENT_ID=ntahunhaoneuhtohauehonu
export DISCORD_CLIENT_SECRET=aoneunthaehouh

export GOOGLE_CLIENT_ID=ntahunhaoneuhtohauehonu
export GOOGLE_CLIENT_SECRET=aoneunthaehouh

export TWITTER_BEARER_TOKEN=aoidjwqdjqiowdjwqadjoqwidoqw

export DATABASE_URL=postgres://asdouaoisdwionasa