@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/utilities";

h1,
h2,
h3,
h4,
p {
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
p.bold {
  font-weight: 700;
}

:root {
  font-size: 14px;
  --color-primary-100: #DEE3EA;
  --color-primary-200: #B2BDCD;
  --color-primary-300: #5D7290;
  --color-primary-700: #242C37;
  --color-primary-800: #151A21;
  --color-primary-900: #0B0E11;
  --color-accent: #FD4D4D;
  --color-accent-hover: #FD6868;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.4rem;
}

p {
  font-size: 1rem;
  font-weight: 500;
}

p.small {
  font-size: 0.85rem;
}
