name: Delete Preview Build
on:
  pull_request:
    branches:
      - staging
      - main
      - dev
    paths:
      - "kofta/**"
    types:
      - closed

jobs:
  cleanup:
    name: Clean up
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v1

      - name: Delete worker
        run: |
          curl -H "Authorization: Bearer $CF_API_TOKEN" -X DELETE "https://api.cloudflare.com/client/v4/accounts/$CF_ACCOUNT_ID/workers/scripts/dogehouse-pr-$PR"
        env:
          CF_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
          CF_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}
          PR: ${{ github.event.pull_request.number }}
